.weather_info{
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 30px 40px;
}

.weather_graphic{
    width: 240%;
    margin-left: 20px;
}
h4{
    margin: 20px;
}