$marsRed: #AA3300;
$bgcolor: #FFEECC;
* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    background: $bgcolor;
}

.main_header {
    background-color: $marsRed;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 3px 0 #220000;
    margin-bottom: 10px;
}

.nav_links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white; // cursor: pointer;
    cursor: context-menu;
    span {
        &:hover {
            border: 1px solid;
        }
    }
}

.content {
    // padding-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; // background: red;
}

.img_cntnr {
    width: 90%; // background: green;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rvr_img {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}